<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <form action="/answer" method="get">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    <%# <% link_to "Answer", answer_path %>
    </form>
    <%= yield %>
  </body>
</html>
